*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*{
	font-family: 'Open Sans', sans-serif;
}

li{
	display: inline-block;
	position: relative;
	left: 850px;
	padding: 10px;

}

.nav-logo{
	display: inline-block;
	position: relative;
	left: 100px;
	top: 50px;
	
}

nav{
		position: sticky;
		margin: 0;
		height: 10px;
		display: inline-block;

}

.tuitt-button{
	background: #c2195b;
}



#bg-image{
	margin: 100px;
	height: 300px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no repeat;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.25);
}

.title{
	position: relative;
	font-family: Zilla Slab;
	height: 100px;
	width: 500px;
	text-align: left;
	font-size: 35;
	left: 800px;

	
	
}
.subtitle{
	position: relative;
	font-size: 20;
	width: 400px;
	left: 800px;
	
}
.apply-button{
	position: relative;
	background-color: #c2195b;
	left: 45%;
	top: 40px;
}

.intro{
	position: relative;



}
.title-1{
	position: relative;
	padding: 20px; 
	left: 550px;
}
.intro-description{
	position: relative;
	padding: 100px;
	text-align: center;
	height: 50px;
	width: 1200;
	left: 180px;

}

.title-2{
	font-family: Zilla Slab;
	font-size: 20;
	position: relative;
	padding: 20px; 
	left: 650px;
}

.pre-footer{
	background-color: #f7fbfb;
}
.prefooter-description{
	position: relative;
	padding: 100px;
	text-align: center;
	height: 50px;
	width: 1000px;
	left: 250px;

}

.book-button{
	background-color: #336589;
	position: relative;
	margin: 20px;
	left: 45%;
}

footer{
	position: absolute;
	left: 35%;
}